#main {
  background-color: #b2b2b2;
  width: 100%;
  height: auto;
  text-align: center;
  border: 1px solid #b2b2b2;
  border-radius: 3.5px;
  font-family: sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#img-div {
  background-color: #eaeaea;
  max-width: 98%;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  border-radius: 2px;
}

#image {
  padding: 20px;
  display: block;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

#img-caption {
  margin-bottom: 0.5rem;
}

#tribute-info {
  font-size: 1.5rem;
}

li {
  list-style-position: inside;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
}

#tribute-more-info {
  font-size: 1.1rem;
  font-weight: bold;
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: blue;
}
a:visited {
  color: purple;
}

a:hover {
  color: #eaeaea;
}

a:active {
  opacity: 0.5;
}
